.Footer {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #0f0d7a;
  }
  
  .Footer__brand {
    color: #ffffff;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Footer__brand-rights {
    color: #ffffff;
  
    display: flex;
    justify-content: flex-end;
  }
  
  .Footer__brand:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .Footer__brand-logo {
    margin-right: 0.5rem;
    height: 50px;
  }
  